<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Ma To-Do List</title>
</head>
<body>
    <h1>My To-Do List</h1>

    <form action="/add" method="POST">
        {{ form.hidden_tag() }}
        {{ form.title.label }}<br />
        {{ form.title(size=40) }}
        {{ form.submit() }}
    </form>

    <ul>
        {% for task in tasks %}
            <li>
                {{ loop.index }}. {{ task.title }}
                <a href="/delete/{{ task.id }}">❌ </a>
            </li>
        {% else %}
            <li>Aucune tâche pour le moment.</li>
        {% endfor %}
    </ul>
</body>
</html>
